<div class="row">
	<div class="jumbotron">
		<h1>Jumbotron heading</h1>
		<p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
		<p>
			<a role="button" href="/users/create" class="btn btn-lg btn-success">Sign up today</a>
		</p>
	</div>
</div>